/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: rgb(243, 243, 243);
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#container{
    display: grid;
    grid-template-columns: 100% 70px;
    height: 100%;
    #content{
        
    }
}