#background-editor{
    background: #5d7480;
    padding: 50px 50px;
    
    #cv-area{
        background: #FFFFFF;
        height: 297mm;
        width: 210mm;
        box-shadow: 10px 10px #494747;
    }
}