<div class="flexbox-container">
    <h3>Contact Infomation</h3>
    <div class="item item1">
        <p>First Name:</p>
        <input type="text" placeholder="First Name">
    </div>
  
  
    <div class="item item2">
        <p>Last Name:</p>
        <input type="text" placeholder="Last Name">
    </div>
  
  
    <div class="item item3">
        <p>Address:</p>
        <input type="text" placeholder="Address">
    </div>
  
  
    <div class="item item4">
        <p>Phone:</p>
        <input type="text" placeholder="(+84)">
    </div>
    
    <div class="item item5">
        <p>Email:</p>
        <input type="text" placeholder="@anything.com">
    </div>
  <br>
    <div class="item item6">
        <button class="btn btn-default float-right">Next Section</button> 
    </div>
 </div>